In [1]:
import pandas as  pd
import numpy as np
import datetime as dt
import os
os.getcwd()

'C:\\Users\\prate\\Documents\\MARS Project\\Analytical Dataset Creation-20200807T174121Z-001\\Analytical Dataset Creation\\Code'

In [2]:
si_gum = pd.read_csv("../Data/Raw Data/(GUMS )Neilsen_Complete_data_long_format.csv")

In [3]:
si_gum = si_gum.rename(columns={"1:Value (in 1000 RUR)": "value_sales"})

In [4]:
si = pd.DataFrame()
si = si_gum[["Week","value_sales"]]

In [5]:
si = si.groupby(by = "Week", as_index=False).sum()

In [6]:
#for 2017 and 2018 and 2019

In [7]:
si_17_18_19 = si
si_17_18_19.loc[155]

Week           W 2020 08
value_sales       200449
Name: 155, dtype: object

In [8]:
si_17_18_19['Week'].loc[148] = 'W 2017 01'
si_17_18_19['Week'].loc[149] = 'W 2017 02'
si_17_18_19['Week'].loc[150] = 'W 2017 03'
si_17_18_19['Week'].loc[151] = 'W 2017 04'
si_17_18_19['Week'].loc[152] = 'W 2017 05'
si_17_18_19['Week'].loc[153] = 'W 2017 06'
si_17_18_19['Week'].loc[154] = 'W 2017 07'
si_17_18_19['Week'].loc[155] = 'W 2017 08'

C:\Users\prate\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [9]:
si_17_18_19['Year'] = si_17_18_19['Week'].str.slice(2, 6)

In [10]:
si_17_18_19['week_number'] = si_17_18_19['Week'].str.slice(7, 9)
si_17_18_19

          Week  value_sales  Year week_number
0    W 2017 09     138667.8  2017          09
1    W 2017 10     142088.5  2017          10
2    W 2017 11     140818.6  2017          11
3    W 2017 12     138647.7  2017          12
4    W 2017 13     131190.2  2017          13
..         ...          ...   ...         ...
156  W 2020 09     198548.1  2020          09
157  W 2020 10     217846.3  2020          10
158  W 2020 11     223902.8  2020          11
159  W 2020 12     211239.1  2020          12
160  W 2020 13     186503.1  2020          13

[161 rows x 4 columns]

In [11]:
si_17_18_19.Year = pd.to_numeric(si_17_18_19.Year)
si_17_18_19.week_number = pd.to_numeric(si_17_18_19.week_number)

In [12]:
si_17_18_19 = si_17_18_19.loc[(si_17_18_19["Year"]==2017) | (si_17_18_19["Year"]==2018)  | (si_17_18_19["Year"]==2019)]

In [13]:
si_17_18_19

          Week  value_sales  Year  week_number
0    W 2017 09     138667.8  2017            9
1    W 2017 10     142088.5  2017           10
2    W 2017 11     140818.6  2017           11
3    W 2017 12     138647.7  2017           12
4    W 2017 13     131190.2  2017           13
..         ...          ...   ...          ...
151  W 2017 04     197564.6  2017            4
152  W 2017 05     191860.6  2017            5
153  W 2017 06     189681.8  2017            6
154  W 2017 07     203318.7  2017            7
155  W 2017 08     200448.9  2017            8

[156 rows x 4 columns]

In [14]:
mysi = pd.DataFrame()

In [15]:
mysi['week_number'] = np.arange(1,53,1)

In [16]:
value_sales_2017=[]
value_sales_2018=[]
value_sales_2019=[]
for i in mysi.week_number:
    value_sales_2017.append(float(si_17_18_19.value_sales[(si_17_18_19.Year==2017) & (si_17_18_19.week_number==i)]))
    value_sales_2018.append(float(si_17_18_19.value_sales[(si_17_18_19.Year==2018) & (si_17_18_19.week_number==i)]))
    value_sales_2019.append(float(si_17_18_19.value_sales[(si_17_18_19.Year==2019) & (si_17_18_19.week_number==i)]))

In [17]:
mysi['value_sales_2017'] = value_sales_2017
mysi['value_sales_2018'] = value_sales_2018
mysi['value_sales_2019'] = value_sales_2019
mysi

    week_number  value_sales_2017  value_sales_2018  value_sales_2019
0             1          169500.5          107837.4          140803.3
1             2          167217.9          130433.7          147321.5
2             3          196300.3          135585.7          169266.8
3             4          197564.6          146614.8          166530.5
4             5          191860.6          176176.4          167112.6
5             6          189681.8          163620.1          169206.8
6             7          203318.7          182782.9          184008.7
7             8          200448.9          147225.5          181986.3
8             9          138667.8          153853.0          185771.8
9            10          142088.5          148070.9          191237.6
10           11          140818.6          184331.4          218029.8
11           12          138647.7          161229.1          221668.0
12           13          131190.2          157458.5          220930.9
13           14          137299.5          165834.9          219675.6
14           15          143191.7          179989.6          212195.5
15           16          143628.1          168042.6          212662.6
16           17          151035.8          170568.5          208059.6
17           18          142829.9          150525.8          184152.3
18           19          143462.3          173939.9          200075.6
19           20          149720.2          184041.3          204150.4
20           21          146979.4          178290.0          202418.5
21           22          138087.3          158599.6          200288.4
22           23          136740.7          166161.2          194188.8
23           24          143377.0          164067.9          191100.7
24           25          140786.6          161584.7          193042.7
25           26          137808.6          158289.6          193871.6
26           27          135224.9          146714.6          179902.7
27           28          140089.2          159429.9          181113.1
28           29          137873.3          156661.6          178762.2
29           30          131081.8          154026.2          176865.2
30           31          126924.3          150733.3          182035.4
31           32          131865.8          153620.7          174721.3
32           33          137313.5          161614.7          183118.7
33           34          133794.2          166469.5          180586.0
34           35          148318.0          174340.4          191979.0
35           36          142774.3          173096.3          192469.2
36           37          142949.7          168710.1          189620.9
37           38          156392.5          167283.8          177600.9
38           39          163794.2          161408.4          180479.6
39           40          143848.7          161185.6          184715.8
40           41          161466.6          174016.2          182893.7
41           42          156747.3          180508.9          192265.3
42           43          155050.0          173315.1          198377.8
43           44          151637.0          168013.0          183588.5
44           45          149234.0          162697.8          184388.3
45           46          158071.9          172067.9          188771.4
46           47          156931.1          169941.8          174279.0
47           48          148731.0          171509.7          183244.9
48           49          142736.2          174183.2          183328.9
49           50          160693.0          192153.1          196740.1
50           51          147383.5          179026.4          191410.3
51           52          160224.9          189806.0          201017.8

In [18]:
mysi.value_sales_2017 = mysi.value_sales_2017/np.mean(mysi.value_sales_2017)
mysi.value_sales_2018 = mysi.value_sales_2018/np.mean(mysi.value_sales_2018)
mysi.value_sales_2019 = mysi.value_sales_2019/np.mean(mysi.value_sales_2019)
mysi

    week_number  value_sales_2017  value_sales_2018  value_sales_2019
0             1          1.118048          0.656799          0.747575
1             2          1.102992          0.794425          0.782182
2             3          1.294823          0.825804          0.898698
3             4          1.303163          0.892978          0.884170
4             5          1.265538          1.073027          0.887260
5             6          1.251167          0.996551          0.898379
6             7          1.341118          1.113265          0.976968
7             8          1.322188          0.896698          0.966230
8             9          0.914672          0.937063          0.986328
9            10          0.937235          0.901847          1.015348
10           11          0.928859          1.122696          1.157598
11           12          0.914539          0.981989          1.176914
12           13          0.865348          0.959023          1.173001
13           14          0.905646          1.010041          1.166336
14           15          0.944512          1.096252          1.126621
15           16          0.947390          1.023487          1.129101
16           17          0.996253          1.038872          1.104662
17           18          0.942125          0.916799          0.977730
18           19          0.946297          1.059405          1.062272
19           20          0.987575          1.120929          1.083907
20           21          0.969496          1.085900          1.074712
21           22          0.910843          0.965973          1.063402
22           23          0.901960          1.012028          1.031017
23           24          0.945734          0.999279          1.014622
24           25          0.928647          0.984154          1.024932
25           26          0.909004          0.964085          1.029333
26           27          0.891962          0.893586          0.955167
27           28          0.924047          0.971030          0.961594
28           29          0.909431          0.954170          0.949112
29           30          0.864633          0.938118          0.939040
30           31          0.837210          0.918062          0.966491
31           32          0.869805          0.935649          0.927657
32           33          0.905738          0.984337          0.972242
33           34          0.882525          1.013906          0.958795
34           35          0.978326          1.061845          1.019285
35           36          0.941759          1.054267          1.021887
36           37          0.942916          1.027553          1.006765
37           38          1.031586          1.018866          0.942946
38           39          1.080409          0.983081          0.958230
39           40          0.948845          0.981724          0.980722
40           41          1.065056          1.059870          0.971048
41           42          1.033926          1.099415          1.020805
42           43          1.022731          1.055600          1.053258
43           44          1.000218          1.023307          0.974737
44           45          0.984368          0.990934          0.978983
45           46          1.042664          1.048004          1.002254
46           47          1.035139          1.035054          0.925309
47           48          0.981050          1.044604          0.972912
48           49          0.941507          1.060887          0.973358
49           50          1.059953          1.170336          1.044563
50           51          0.972162          1.090386          1.016265
51           52          1.056865          1.156040          1.067275

In [19]:
mysi['SI'] = (mysi.value_sales_2017 + mysi.value_sales_2018 + mysi.value_sales_2019)/3

In [20]:
del mysi["value_sales_2017"]
del mysi["value_sales_2018"]
del mysi["value_sales_2019"]
mysi

    week_number        SI
0             1  0.840807
1             2  0.893200
2             3  1.006442
3             4  1.026770
4             5  1.075275
5             6  1.048699
6             7  1.143783
7             8  1.061705
8             9  0.946021
9            10  0.951477
10           11  1.069718
11           12  1.024481
12           13  0.999124
13           14  1.027341
14           15  1.055795
15           16  1.033326
16           17  1.046595
17           18  0.945551
18           19  1.022658
19           20  1.064137
20           21  1.043369
21           22  0.980073
22           23  0.981669
23           24  0.986545
24           25  0.979245
25           26  0.967474
26           27  0.913572
27           28  0.952224
28           29  0.937571
29           30  0.913931
30           31  0.907254
31           32  0.911037
32           33  0.954106
33           34  0.951742
34           35  1.019818
35           36  1.005971
36           37  0.992411
37           38  0.997799
38           39  1.007240
39           40  0.970430
40           41  1.031991
41           42  1.051382
42           43  1.043863
43           44  0.999421
44           45  0.984762
45           46  1.030974
46           47  0.998501
47           48  0.999522
48           49  0.991918
49           50  1.091617
50           51  1.026271
51           52  1.093393

In [21]:
mysi.to_excel(r"../Process/SI_Index/GUM_17_18_19 Seasonality Index.xlsx", index=False)