In [1]:
import pandas as  pd
import numpy as np
import datetime as dt
import os
os.getcwd()

'C:\\Users\\omprakash.bankol\\Desktop\\MARS_Russia\\Analytical Dataset Creation_v1\\Analytical Dataset Creation\\Code'

In [2]:
si_gum = pd.read_csv("../Data/Raw Data/(GUMS )Neilsen_Complete_data_long_format.csv")

In [3]:
si_gum = si_gum.rename(columns={"1:Value (in 1000 RUR)": "value_sales"})

In [4]:
si = pd.DataFrame()
si = si_gum[["Week","value_sales"]]

In [5]:
si = si.groupby(by = "Week", as_index=False).sum()

In [6]:
si['Year'] = si['Week'].str.slice(2, 6)

In [7]:
si['week_number'] = si['Week'].str.slice(7, 9)

In [8]:
si.Year = pd.to_numeric(si.Year)
si.week_number = pd.to_numeric(si.week_number)

In [9]:
si = si.loc[(si["Year"]==2018) | (si["Year"]==2019)]

In [10]:
si.shape

(104, 4)

In [11]:
mysi = pd.DataFrame()

In [12]:
mysi['week_number'] = np.arange(1,53,1)

In [13]:
value_sales_2018=[]
value_sales_2019=[]
for i in mysi.week_number:
    value_sales_2018.append(float(si.value_sales[(si.Year==2018) & (si.week_number==i)]))
    value_sales_2019.append(float(si.value_sales[(si.Year==2019) & (si.week_number==i)]))

In [14]:
mysi['value_sales_2018'] = value_sales_2018
mysi['value_sales_2019'] = value_sales_2019

In [15]:
mysi.value_sales_2018 = mysi.value_sales_2018/np.mean(mysi.value_sales_2018)
mysi.value_sales_2019 = mysi.value_sales_2019/np.mean(mysi.value_sales_2019)

In [16]:
mysi['SI'] = (mysi.value_sales_2018 + mysi.value_sales_2019)/2

In [17]:
del mysi["value_sales_2018"]
del mysi["value_sales_2019"]
mysi

    week_number        SI
0             1  0.702187
1             2  0.788304
2             3  0.862251
3             4  0.888574
4             5  0.980144
5             6  0.947465
6             7  1.045116
7             8  0.931464
8             9  0.961696
9            10  0.958598
10           11  1.140147
11           12  1.079451
12           13  1.066012
13           14  1.088188
14           15  1.111437
15           16  1.076294
16           17  1.071767
17           18  0.947264
18           19  1.060839
19           20  1.102418
20           21  1.080306
21           22  1.014688
22           23  1.021523
23           24  1.006950
24           25  1.004543
25           26  0.996709
26           27  0.924377
27           28  0.966312
28           29  0.951641
29           30  0.938579
30           31  0.942277
31           32  0.931653
32           33  0.978290
33           34  0.986351
34           35  1.040565
35           36  1.038077
36           37  1.017159
37           38  0.980906
38           39  0.970655
39           40  0.981223
40           41  1.015459
41           42  1.060110
42           43  1.054429
43           44  0.999022
44           45  0.984958
45           46  1.025129
46           47  0.980182
47           48  1.008758
48           49  1.017123
49           50  1.107449
50           51  1.053325
51           52  1.111658

In [18]:
mysi.to_excel(r"../Process/SI_Index/GUM_18_19 Seasonality Index.xlsx", index=False)